#wrap {background-color: #faf;}

#headBox {
    width:100%;
    height: 50px;
    background-color: #fff;    

    h1 {
        width: 100px;
        height: 100px;
        float:left;
        background-color: #aaf;
    }

    nav {
        position: absolute;
        left:0;
        right:0;
        margin:auto;
        width:1050px;
        height:auto;
        float:left;

    ul {
        display: flex;
        justify-content: space-between;
        width: auto;
        height: auto;

        li {
            width: 250px;
            height: auto;
            background-color:#ccc;

            dl {
                width: 100%;
                height: auto;
                background-color: #888;

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    line-height: 50px;
                }

                dt {
                    width: 100%;
                    height: 50px;
                    background-color: #444;

                    a {
                        &:after,
                        &::after {
                            content:" ";
                            display: block;
                            width: 0;
                            height: 5px;
                            transition:all 300ms ease;
                            background-color: red;
                            }
                            &.active::after {
                                width: 250px;
                            }
                    }
                }
                dd {
                    display: none;
                    margin-top:5px;
                    width: 100%;
                    height: 50px;
                    background-color: #222;

                    &.active {
                        display: block;
                    }
                }
            }
        }
     }
    }
} // headBox